.html,
body {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 10px 10px 20px gray;
}
.general,
.contact {
  font-size: 20px;
  color: #4835d4;
}
.general {
  color: #4835d4;
}
.contact {
  color: white;
}
.generalpart {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 40px 40px;
}

.contactpart {
  display: flex;
  flex-direction: column;
  border-radius: 0px 10px 10px 0px;
  background: #4835d4;
  color: white;
  padding: 40px 40px;
}
.title,
.Position,
.Employees,
.Place,
.Country {
  border: none;
  border-bottom: 1px solid gray;
  cursor: grab;
  padding: 10px;
}
.title,
.Position,
.Employees,
.Country {
  color: gray;
}
.Place,
.Country {
  color: white;
}

.title,
.Position,
.Country {
  width: 400px;
}

.Employees,
.Place {
  width: 170px;
}

input[type="name"],
input[type="name1"],
input[type="name2"],
input[type="name3"],
input[type="name4"] {
  border: none;
  border-bottom: 1px solid gray;
  cursor: grab;
  margin: 15px 10px;
  padding: 10px 0px;
}

input[type="name3"],
input[type="name4"] {
  background-color: #4835d4;
  color: white;
}
.Place,
.Country {
  background-color: #4835d4;
  margin: 15px 15px;
  padding: 7px 0px;
}
input,
select:focus {
  outline: none;
}

.inputvalues {
  display: flex;
  flex-flow: row wrap;
}
input[type="name"],
input[type="name3"] {
  width: 390px;
}
input[type="name1"] {
  width: 200px;
}

input[type="name2"],
input[type="name4"] {
  width: 185px;
}

input[type="name3"]::placeholder,
input[type="name4"]::placeholder {
  color: white;
}

input[type="checkbox"] {
  appearance: none;
  cursor: grab;
  height: 15px;
  width: 15px;
  margin-top: 20px;
  background: #4835d4;
  border: 0.5px solid white;
}
input[type="checkbox"]:checked {
  appearance: checkbox;
  background-color: white;
}

a {
  color: white;
  cursor: grab;
}

.button {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  margin: 20px 0px 0px 10px;
  cursor: grab;
}

.popup {
  display: flex;
  display: flex;
  align-content: center;
  align-items: center;
  display: none;
  position: absolute;
  height: 300px;
  width: 500px;
  background-color: white;
  font-size: 30px;
  border-radius: 20px;
  margin-top: 200px;
  left: 600px;
}
input[type="button"]:hover + .popup {
  display: none;
}
.box {
  padding: 50px;
  text-align: center;
  color: red;
}
.close {
  margin: 30px;
  text-align: center;
  color: red;
}
